<h1>New artist form</h1>
<form action="/artists/new" method="post">


Artist name: <input type="text" name="artist[name]">
<br></br>
Artist period: <input type="text" name="artist[period]">
<br></br>
Artist style: <input type="text" name="artist[style]">
<br></br>
<b>Do any of the following works belong to this artist?</b>
<%Work.all.each do |work|%>
<br></br>
  <input type="checkbox" name="artist[work_ids][]" id="<%=work.id%>" value="<%=work.id%>">
  <%=work.name%>
</input>
<%end%>
<br></br>
<b>Create a new work in the database:</b>
<BLOCKQUOTE>Name of work: <input type="text" name="work[name]" id="title_of_work">
<br></br>
Patron of work: <input type="text" name="work[patron]" id="patron">
<br></br>
Year completed: <input type="integer" name="work[year_completed]" id="work_year_completed">
<br></br></BLOCKQUOTE>
<input type="submit" value="submit">
</form>
