<h1>New patron form</h1>
<form action="/patrons/new" method="post">
Name: <input type="text" name="patron_name">
<br></br>
Name of Work: <input type="text" name="work[name]" id="work_name">
<br></br>
Year completed: <input type="text" name="work[year_completed]">
<br></br>
<b>Are any of the following artists the creator of this work? </b>
<%Artist.all.each do |artist|%>
<br></br>
  <input type="checkbox" name="work[artist_id]" id="<%=artist.id%>" value="<%=artist.id%>">
  <%=artist.name%>
</input>
<%end%>
<br></br>
<b>Create a new artist in the database for this work:</b>
<BLOCKQUOTE>Name of artist: <input type="text" name="artist">
</BLOCKQUOTE>
<input type="submit" value="submit">
</form>
