<form action="/works" method="post">
  <h1>New work form</h1>
  <b>Name of work: </b><input type="text" name="work[name]" id="work_name">
  <br></br>
  <b>Year completed: </b><input type="integer" name="work[year_completed]" id="work_year_completed">
  <br></br>
  <b>Artist of work: </b><input type="text" name="work[artist]" id="work_artist">
  <br></br>
  <b>Patron of work: </b><input type="text" name="work[patron]" id="work_patron">
  <br></br>
  <input type="submit" value="submit">
</form>
