You attempted to select a pre-existing artist and to simultaneously create a brand new one.
<br></br>
You may only do one, not both.
<br></br>
Please return to the <a href="/patrons/new">new patrons page</a>, or
<br></br>
the <a href="/patrons">patrons index page</a>.
