
<h1>Hello <i><%=@user.username%></i> and welcome to the artists, works and patrons database.</h1>
<a href="/artists"><h3>Artists index</h3></a>
<BlOCKQUOTE><a href="/artists/new">Create a new artist</a></BlOCKQUOTE>
<a href="/works"><h3>Works index</h3></a>
<BlOCKQUOTE><a href="/works/new">Create a new work:</a></BlOCKQUOTE>
<a href="/patrons"><h3>Patrons index</h3></a>
<BlOCKQUOTE><a href="patrons/new">Create a new patron</a></BlOCKQUOTE>
<form action="/logout" method="post">
  <p><input type="submit" value="Log out"></p>
  </form>
